/* debug */

.debug .container.logo {
    background-color: lightsalmon;
    height: 100px;
}

.debug #header-nav {
    background-color: gold;
    height: 50px;
}

.debug #site-main {
    background-color: aliceblue;
}

.debug main > .container.image {
    background-color: cadetblue;
    height: 500px;
}

.debug .container.description {
    background-color: darkkhaki;
    height: 100px;
}

.debug .content.title {
    background-color: crimson;
    height: 80px;
}

.debug .column, .debug .central {
    background-color: coral;
    height: 550px;
}

.debug .column > .container.image, .debug .central > .container.image {
    background-color: rgba(255, 255, 255, 0.5);
    height: 235px;
}

.debug #site-footer {
    background-color: lightslategray;
    height: 75px;
}

/* utility */

.relative {
    position: relative;
}

.dark {
    background-color: rgba(120, 120, 120, 0.5);
    position: absolute;
    top: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
    font-family: calibri, optima;
}

/* #site-header */

#site-header {
    margin: 0 0 2rem;
}

img.logo {
    height: 69px;
    width: 163px;
}

.menu {
    margin: 2rem 0 0;
}

.menu > a {
    text-decoration: none;
    color: #939393;
    font-size: 1.25rem;
    margin-right: 0.75rem;
}

a:hover {
    font-weight: 400;
    color: black;
}

/* #site-main */

#site-main {
    margin: 0 0 2rem;
}

#site-main > div.container.image {
    margin: 0 0 2rem;
}

/* .container.image */

img.meditation, .dark.meditation {
    width: 1200px;
    height: 500px;
    border-radius: 10px;
}

img.meditation {
    object-fit: cover;
}

.container.description {
    width: 600px;
    position: absolute;
    left: 2.5rem;
    bottom: 4.5rem;
    color: white;
    font-size: 1rem;
}

.container.description > .description.title {
    font-size: 2rem;
}

/* .container.content */

.content.title {
    margin: 0 0 2rem;
}

h1.title {
    font-size: 2.75rem;
}

div.subtitle {
    font-size: 1.25rem;
    color: #939393;
}

/* .row */

.row {
    color: #939393;
}

.column {
    width: 23%;
}

.central {
    width: 50%;
    margin: 0 2%;
}

.column, .central {
    float: left;
}

aside img, .dark-column{
    width: 276px;
    height: 180px;
    border-radius: 10px;
}

aside img {
    object-fit: cover;
    object-position: center;
}

section img, .dark-central {
    width: 600px;
    height: 180px;
    border-radius: 10px;
}

section img {
    object-fit: cover;
    object-position: center;
}

/* #site-footer */